.card-box{
   background-color: rgb(233, 233, 233);
   height: 220px;
   width: 350px;
   border-radius: 10px;
   box-shadow: 0 4px 8px 1px rgba(0, 0, 0, 0.2);
   display: flex;
   flex-direction: column;
   align-items: center;
}

form{
   margin-top: 10px;
   display: flex;
   justify-content: space-around;
}

input{
   width: 60%;
   height: 30px;
   border: none;
   border-radius: 10px;
   margin-bottom: 10px;
   text-align: center;
   outline: none;
   font-size: 18px;
}

button{
   width: 90px;
   height: 30px;
   border: none;
   border-radius: 10px;
   background-color: rgb(255, 255, 255);
   font-size: 15px;
   font-weight: bold;
   cursor: pointer;
   outline: none;
   transition: 0.3s;
}

button:hover{
   transform: scale(1.1);
   box-shadow: 0 4px 8px 1px rgba(0, 0, 0, 0.2);
}

.coverted-value{
   color: rgb(221, 76, 76);
}

@media (max-width: 722px){
   .card-box{
      width: 220px;
   }
   form{
      margin-top: 0;
      display: flex;
      flex-direction: column;
      justify-content: space-around;
      align-items: center;
   }

}

@media (max-width: 470px){
   .card-box{
      width: 180px;
   }
   
   input{
      width: 80%;
   }

   form{
      margin-top: 0;
      display: flex;
      flex-direction: column;
      justify-content: space-around;
      align-items: center;
   }

}